<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/about.css') }}">
</head>

<body>

    <!-- Navigation bar -->
    <div class="navbar">
        <div class="nav-links">
            <a href="{{ url_for( 'about' ) }}">About</a>
            <a href="{{ url_for( 'service' ) }}">Service</a>
            <a href="{{ url_for( 'source' ) }}">Sources</a>
            <a href="{{ url_for( 'contact' ) }}">Contact</a>
        </div>
        <a href="#menu" class="menu-icon">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <!-- About section -->
    <div class="about-section">
        <h1>About the Grammar Corrector Tool</h1>
        <p>
            Welcome to the Grammar Corrector Tool! This tool is designed to help users enhance the quality of their writing by automatically detecting and correcting grammar, punctuation, and spelling mistakes. It provides real-time feedback, making it an ideal companion
            for students, professionals, writers, and anyone looking to improve their communication. Our grammar corrector tool is designed to assist users in enhancing their writing skills. It provides instant feedback on grammatical errors, helping
            users learn from their mistakes. Whether you're drafting an email, writing a paper, or creating content for a website, our grammar corrector tool is here to support you every step of the way.
        </p>


        <h2>Key Features</h2>
        <ul>
            <li>Grammar Correction: Detects grammatical errors and suggests corrections.</li>
            <li>Punctuation Improvement: Ensures proper use of punctuation marks like commas, periods, and more.</li>
            <li>Spelling Check: Highlights misspelled words and offers suggestions for the correct spelling.</li>
            <li>Clarity Suggestions: Recommends ways to enhance the readability and flow of your text.</li>
            <li>Multi-language Support: Works with a variety of languages to offer grammar correction in different contexts.</li>
        </ul>

        <h2>Who Can Benefit?</h2>
        <p>
            The Grammar Corrector Tool is perfect for:
        </p>
        <ul>
            <li>Students: Improve your essays, research papers, and assignments.</li>
            <li>Professionals: Polish your emails, reports, and business documents.</li>
            <li>Writers: Enhance the quality of your manuscripts, blogs, and articles.</li>
            <li>Non-native speakers: Get help writing fluently in English or other supported languages.</li>
        </ul>

        <p>
            Whether you're looking to catch small errors or make your writing clearer and more professional, this tool is your go-to solution!
        </p>
    </div>

</body>

</html>