<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/contact.css') }}">
</head>

<body>

    <!-- Navigation bar -->
    <div class="navbar">
        <div class="nav-links">
            <a href="{{ url_for( 'about' ) }}">About</a>
            <a href="{{ url_for( 'service' ) }}">Service</a>
            <a href="{{ url_for( 'source' ) }}">Sources</a>
            <a href="{{ url_for( 'contact' ) }}">Contact</a>

        </div>
        <a href="#menu" class="menu-icon">
            <i class="fas fa-bars"></i>
        </a>
    </div>


    <!-- Contact section -->
    <div class="contact-section">
        <h1>Contact Us</h1>
        <p>If you have any questions or feedback, feel free to reach out to us!</p>
        <!-- Feedback Section -->
        <h2>Feedback</h2>
        <form class="feedback-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Submit Feedback</button>
        </form>
        <h2>Authors</h2>
        <div class="author">
            <h3>G. Pavithra</h3>
            <p>Email: <a href="mailto:pavithra@example.com">pavithra2346mk@gmail.com</a></p>

        </div>
        <div class="author">
            <h3>K. M. Swetha </h3>
            <p>Email: <a href="mailto:swetha@example.com">swetha0611@gmail.com</a></p>

        </div>
        <div class="author">
            <h3>P. Lakshmi Priya</h3>
            <p>Email: <a href="mailto:lakshmi@example.com">plakshmipriya82@gmail.com</a></p>

        </div>



    </div>

</body>

</html>